#mainDiv img{
  width: 100%;
}

#contact{
  display: flex;
  justify-content: center;
}

#wapp{
  width: 20px;
  height: 20px;
}

#fcbook{
  width: 20px;
  height: 20px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
