#nav a:hover:not(.navbar-brand){
    background-color: #ffd93b;
    color: black;
}

#nav a{
    transition: background-color 800ms ease-in-out;
    color: black;
    border-radius: 10px;
}


.navbar-toggler-icon{
    background-color: #ccc;
    color: #ffd93b !important;
    border: 1px solid #ffd93b;
    border-radius: 5px;
}